* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h3,
h4,
p {
  padding: 0.5rem;
}

body {
  font-family: "Righteous";
}

.verde {
  grid-area: head;
  margin: auto 1rem;
  display: flex;
  justify-content: space-between;
}
.verde h1,
h2,
article > h3 {
  color: #0c9b3b;
}

/* Contenedor general*/
.wrapper {
  display: grid;
  grid-template-areas:
    "head head"
    "main main"
    "main main";
  gap: 2rem;
  grid-template-rows: 4rem 1fr;
  grid-template-columns: 1px 50fr;
  width: 90%;
  margin: auto;
}

/*Estilos parte principal*/
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .box {
  background-color: #a3d2a5;
  width: 90vw;
  color: #302e2e;
  padding: 1rem;
}

section.images {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: center;
}

section.images img {
  height: 100px;
  width: 25%;
}

.hidden {
  display: none;
}
.novedades h2 {
  width: 25vw;
  display: flex;
  justify-content: left;
  margin: 1rem 0 1em;
}

@media screen and (min-width: 576px) {
  h1,
  h2,
  article > h3 {
    color: #0c9b3b;
  }
  main {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
  }
  main .box {
    padding-bottom: 6rem;
    width: 50%;
  }

  .novedades {
    display: flex;
  }
  main .box {
    background-color: #666666;
    color: #c8e1ca;
  }

  .novedades > * {
    width: 25%;
  }

  section.images {
    width: 50%;
  }
  section.images img {
    width: 50%;
    height: 25%;
  }
}

@media screen and (min-width: 992px) {
  h1,
  h2,
  article > h3 {
    color: #0c9b3b;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .hidden {
    display: block;
  }
  .images {
    order: 1;
  }
  main .box {
    order: 2;
    padding-bottom: 6rem;
    width: 50%;
  }
  .novedades {
    order: 3;
    width: 90vw;
  }

  section.images img {
    height: 33%;
    width: 33%;
  }
}
